@import url('https://fonts.googleapis.com/css?family=Yatra One:100,200,300,400,500,600,700|Kalam:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.main-body {
    margin: 0 70px;
}

/*------------------------------ Navigation Section*/
nav {
    background-color: #f4a460;
    position: relative;
}

.navbar a {
    color: #000000;
}

.navbar-brand {
    padding-right: 600px;
}

.navbar-main a {
    text-align: right;
    margin-left: 50px;
    padding-left: 100px;
    text-decoration: none;
}

.nav-link {
    font-size: 20px;
}

.nav-item a:hover {
    text-shadow: 1px 1px #000000;
}

.active:link {
    text-decoration: underline;
}

/*------------------------------ Carousel Section*/

#myCarousel img {
    height: 95vh;
    width: 100%;
}

.carousel-caption {
    font-family: "Yatra One", sans-serif;
    background-color: rgb(0, 1, 1, 0.4);
}

/*------------------------------ Description*/
.description {
    font-family: "Yatra One", sans-serif;
    text-align: center;
    margin: 40px 0px;
}

.description p {
    font-family: "Kalam", sans-serif;
    margin: 40px 80px 2px;
    font-size: 20px;
    font-weight: 400;
}

/*------------------------------ Card Flip*/
.card-img {
    width: 350px;
    height: 450px;
}

.flip-card {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 350px;
    height: 450px;
}

/* This container is needed to position the front and back side */
.flip-card-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-in {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* The display for the back of the card */
.flip-back {
    font-family: "Yatra One", sans-serif;
    padding: 15px;
    background-color: #f8c8a0;
    color: #000000;
    transform: rotateY(180deg);
}

/* The paragraph styling for the back of the card */
.flip-back p {
    margin-top: 30px;
    font-family: "kalam", sans-serif;
}

.btn-card {
    padding: 0 5px;
    position: absolute;
    color: black;
    right: 125px;
    bottom: 15px;
}

.btn-card a {
    color: #000000;
}

/*-----------------------------Contact Me Modal*/
.contact-title {
    font-family: "Yatra One", sans-serif;
    text-align: center;
}

.contact-headers {
    margin: 30px 30px;
    font-family: "Kalam", sans-serif;
    text-align: center;
}

.center-form {
    margin: 0 50px;
    width: 100%;
}

.form-control {
    margin-bottom: 20px;
}

.contact-body {
    padding-bottom: 20px;
}

/*-----------------------------Country Section*/
#myCountries {
    border: 1px solid #000000;
    border-radius: 5px;
}

.country-title {
    font-family: "Yatra One", sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
}

.country-description {
    font-family: "Kalam", sans-serif;
    text-align: center;
    margin: 20px 60px;
}

.top-rated-container {
    margin: 10px 70px;
    padding: 10px;
}

.main-container {
    background-color: #f9cda8;
}

/* the headers for each category*/
#top-places,
#top-food {
    font-family: "Yatra One", sans-serif;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* Styling for the for information within each place and cuisine */
.place-info h4,
.food-info h4 {
    font-family: "Yatra One", sans-serif;
}

.place-info p,
.food-info p {
    font-family: "Kalam", sans-serif;
}

/* Spacing between each places and cuisines */
.top-rated-place,
.top-rated-food {
    margin: 10px 0px 20px;
}

.top-rated-places,
.top-rated-foods {
    margin-bottom: 20px;
}

/* styling for the images for the top places and cuisines */
.place-image,
.food-image {
    object-fit: cover;
    height: 150px;
}

.more-link {
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ef7b18;
    text-decoration: none;
    color: #000000;
}

.more-link:hover {
    background-color: #006994;
    color: #ffffff;
}

/*-----------------------------Footer Section*/
.footer-section {
    text-align: center;
    min-height: 150px;
    background-color: #f4a460;
    padding-top: 15px;
}

.footer-section a {
    font-family: "kalam", sans-serif;
    text-decoration: none;
    color: #000000;
}

.footer-section a:hover {
    transform: scale(1.1);
    color: #000000;
    text-shadow: 1px 1px 1px #676767;
}

.quicklinks h4,
.social-media h4,
.contact-us h4 {
    font-family: "Yatra One", sans-serif;
}

.quicklinks p,
.social-media p,
.contact-us p {
    font-family: "kalam", sans-serif;
}

.social-logos {
    font-size: 40px;
    text-align: center;
}

/*-----------------------------For screens with a max width of 1024px*/
@media only screen and (max-width: 1024px) {

    .navbar-brand {
        padding-right: 325px;
    }

    /*Flip card in the index.html*/
    .card-img {
        width: 250px;
        height: 350px;
    }

    .flip-card {
        width: 250px;
        height: 350px;
    }

    .btn-card {
        right: 80px;
    }

    /*Modal contact me section*/
    .contact-title {
        font-family: "Yatra One", sans-serif;
        text-align: center;
        font-size: 30px;
    }

    .contact-heading {
        font-size: 20px;
    }

    /*country section within country.html*/
    .top-rated-container {
        margin: 0;
    }

    #top-places,
    #top-food {
        font-size: 25px;
    }

    .place-info h4,
    .food-info h4 {
        font-size: 18px;
    }

    .place-image,
    .food-image {
        height: auto;
    }


    .place-info p,
    .food-info p {
        font-size: 16px;
    }
}

/*-----------------------------For screens with a max width of 768px*/
@media only screen and (max-width: 768px) {

    .navbar-brand {
        padding-right: 80px;
    }

    /*Height of the carousel as the screen got smaller*/
    #myCarousel img {
        height: 80vh;
        width: 100%;
    }

    /*Hid the last card due to the fact i have 9 cards displayed*/
    .last-card {
        display: none;
    }
}

/*-----------------------------For screens with a max width of 425px*/
@media only screen and (max-width: 425px) {

    /*Header images for the carousel*/
    #myCarousel img {
        height: 50vh;
        width: 100%;
    }

    /*Main body section*/
    .homepage-title {
        font-size: 30px;
    }

    .description p {
        margin: 0;
    }

    .main-body {
        margin: 0;
    }

    /*Flip card section*/
    .card-img {
        width: 300px;
        height: 400px;
    }

    .flip-card {
        width: 300px;
        height: 400px;
    }

    /*Re-displayed the last image as the images are under each other*/
    .last-card {
        display: initial;
    }

    .btn-card {
        right: 100px;
    }

    /*made space for the ID Element*/
    #dropCountries {
        margin: 20px 0;
    }

    .country-description {
        margin: 0;
    }

    .place-info,
    .food-info {
        text-align: center;
    }

    .place-info h4,
    .food-info h4 {
        margin-top: 10px;
    }

    .select-activity label {
        font-size: 18px;
    }

    /*footer*/
    .social-media h4,
    .contact-us h4 {
        margin-top: 40px;
    }
}

/*-----------------------------For screens with a max width of 375px*/
@media only screen and (max-width: 375px) {

    /*Top part of the site*/
    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    #myCarousel img {
        height: 40vh;
        width: 100%;
    }

    .homepage-title {
        font-size: 25px;
    }

    .description p {
        font-size: 18px;
    }
}

/*-----------------------------For screens with a max width of 320px*/
@media only screen and (max-width: 320px) {
    .card-img {
        width: 250px;
        height: 350px;
    }

    .flip-card {
        width: 250px;
        height: 350px;
    }
}
